.card:hover {
  outline: 2px solid #5fa9f9;
  /* Синяя граница */
  transform: scale(1.05);
  /* Небольшое увеличение размера */
  transition: all 0.2s ease-in-out;
  /* Плавный переход */
  cursor: pointer;
}

.move-up {
  position: relative;
  top: -20px;
}

.move-up > nav > ul {
  margin-bottom: 0;
}
