.card:hover {
  outline: 2px solid #5fa9f9;
  /* Синяя граница */
  transform: scale(1.05);
  /* Небольшое увеличение размера */
  transition: all 0.2s ease-in-out;
  /* Плавный переход */
  cursor: pointer;
}

#pagination {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
}
